@media (max-width: 1140px) {
    .linksMediaClass {
        top: 120px;
        position: fixed;
        width: 100%;
        flex-direction: column !important;
        background-color: white;
        left: 0;
        padding: 10px 30px;
        display: none;
    }
    .showMediaClass {
        display: block;
    }
    .menuButton {
        display: block !important;
    }
}
@media (max-width: 603px) {
    .headerLink {
        font-size: 2.5vw;
}
}
@media (max-width: 419px) {
    .headerLink {
        font-size: 1.7vw;
}
}
@media (max-width: 732px) {
    .headerTitle {
        font-size: 0px;
    }
    .headerMain {
        flex-direction: column;
        height: 130px;
    }
}
.menuButton {
    display: none;
}
.mainImageText {
    font-size: 2vw;
    width: 80%;
}
@media (max-width: 900px) {
    .mainImageText {
        font-size: 2.5vw;
    }
}
@media (max-width: 500px) {
    .mainImageText {
        font-size: 3.2vw;
    }
}
@media (max-width: 1210px) {
    .favoriteResources {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
}